<div ng-controller="EventController">

  <label><button ng-click="open()" class="btn btn-default">+</button> Add Event</label>

  <h2>List O' Events</h2>

  <table st-table="rowCollection" class="table table-striped">
  	<thead>
  	<tr>
  		<th>Event</th>
  		<th>Date</th>
  		<th>Start Time</th>
      <th>End Time</th>
      <th>Delete</th>
  	</tr>
  	</thead>
  	<tbody>
  	<tr ng-repeat="event in retrievedEvents.results">
  		<td>{{event.title}}</td>
  		<td>{{event.date}}</td>
  		<td>{{event.start_time}}</td>
      <td>{{event.end_time}}</td>
      <td>
  			<button type="button" ng-controller="StudentModalController" id="{{event.id}}" ng-click="openEventDelete(event.id)" class="btn btn-sm btn-danger">
  				<i class="glyphicon glyphicon-remove-circle">
  				</i>
  			</button>
  		</td>
  	</tr>
  	</tbody>
  </table>
</div>
